<h3>My heroes</h3>
<ul>
  <li *ngFor="let hero of heroes">
    <p>
      I am hero <a [routerLink]="['/hero', hero.id]">{{ hero.name }}</a> (id:
      {{ hero.id }}) LF={{ hero.lifeForce }}
    </p>
  </li>
</ul>
<div>
  <button (click)="add('Ultraman')">Add Ultraman</button>
</div>
<div>
  <button (click)="rename(heroes[1])">Rename Saitama to GoKu</button>
</div>
<div>
  <button (click)="remove(heroes[1])">Delete Saitama</button>
</div>
<div>
  <button (click)="removeLastHero()">Delete last hero</button>
</div>
<div>
  <button (click)="decrementLifeForce(heroes[1])">Attack GoKu</button>
</div>

<p>
  <input type="text" placeholder="New hero name" />
  <button>Add</button>
</p>
